<div class="center">
    <form [formGroup]="formee" (submit) ="submit()" >
        
        <mat-form-field class="example-full-width">
            <textarea matInput formControlName="nomUser"placeholder="Nom User"></textarea>
        </mat-form-field>
    
        
        <mat-form-field class="example-full-width">
            <textarea matInput formControlName="prenomUser" placeholder="Prenom User"></textarea>
        </mat-form-field>
          
        <mat-form-field class="example-full-width">
            <textarea matInput formControlName="usser" placeholder="user"></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <textarea matInput formControlName="passeword" placeholder="passeword"></textarea>
        </mat-form-field><br>
    
        <button mat-button color="primary" type="submit">Modifier</button>
        <button mat-button (click)="onNoClick()">No Thanks</button>
   
    </form>
    </div>
