<div class="center">
  <h3 class="card-subtitle mb-2 text-muted" >Espace Client</h3>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <a mat-raised-button href="http://localhost:4200/ajouterclient">Ajouter</a>
    <table mat-table [dataSource]="datasrc" class="mat-elevation-z8">
      
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="idCli">
        <th mat-header-cell *matHeaderCellDef> idCli </th>
        <td mat-cell *matCellDef="let element">{{element.idCli }} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="nomCli">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">{{element.nomCli }} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="prenomCli">
        <th mat-header-cell *matHeaderCellDef> login </th>
        <td mat-cell *matCellDef="let element"> {{element.prenomCli }} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="cin">
        <th mat-header-cell *matHeaderCellDef> passeword </th>
        <td mat-cell *matCellDef="let element"> {{element.cin }} </td>
      </ng-container>
      <ng-container matColumnDef="supprimer">
        <th mat-header-cell *matHeaderCellDef> supprimer </th>
        <td mat-cell *matCellDef="let element"> <button mat-raised-button class="btn btn-danger" (click)="suppelement(element.idCli)"> suprimmer</button></td>
      </ng-container>
      <ng-container matColumnDef="modifier">
        <th mat-header-cell *matHeaderCellDef> modifier </th>
        <td mat-cell *matCellDef="let element"> <button mat-raised-button (click)="openDialog(element)"> modifier</button></td>
      </ng-container>
      <!-- <button mat-raised-button (click)="openDialog()">Pick one</button> -->
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    </div>
