<div class="center">
    <h3 class="card-subtitle mb-2 text-muted" >Espace User</h3>
    <form [formGroup]="formee" (submit) ="submit()" >
    
    
        <mat-form-field class="example-full-width">
            <textarea matInput formControlName="nomUser"placeholder="Nom User"></textarea>
        </mat-form-field>
    
        
        <mat-form-field class="example-full-width">
            <textarea matInput formControlName="prenomUser" placeholder="Prenom User"></textarea>
        </mat-form-field>
          
        <mat-form-field class="example-full-width">
            <textarea matInput formControlName="usser" placeholder="user"></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <textarea matInput formControlName="passeword" placeholder="passeword"></textarea>
        </mat-form-field><br>
      
       <button mat-button color="primary" type="submit">Save</button>
      <button type="button" mat-raised-button color='accent' (click)="reset()">Reset</button>  
    </form>
    </div>