
<div class="center">
  <h3 class="card-subtitle mb-2 text-muted" >Espace User</h3>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="datasrc">
    
        <!-- Position Column -->
        <ng-container matColumnDef="idUser">
          <th mat-header-cell *matHeaderCellDef> idUser </th>
          <td mat-cell *matCellDef="let element"> {{element.idUser}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="nomUser">
          <th mat-header-cell *matHeaderCellDef> nomUser </th>
          <td mat-cell *matCellDef="let element"> {{element.nomUser}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="prenomUser">
          <th mat-header-cell *matHeaderCellDef> prenomUser </th>
          <td mat-cell *matCellDef="let element"> {{element.prenomUser}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="usser">
          <th mat-header-cell *matHeaderCellDef> usser </th>
          <td mat-cell *matCellDef="let element"> {{element.usser}} </td>
        </ng-container>

        <ng-container matColumnDef="passeword">
            <th mat-header-cell *matHeaderCellDef> passeword </th>
            <td mat-cell *matCellDef="let element"> {{element.passeword}} </td>
          </ng-container>
  
        <ng-container matColumnDef="supprimer">
          <th mat-header-cell *matHeaderCellDef> supprimer </th>
          <td mat-cell *matCellDef="let element"> <button mat-raised-button class="btn btn-danger" (click)="suppelement(element.idUser)"> suprimmer</button></td>
        </ng-container>
        <ng-container matColumnDef="modifier">
          <th mat-header-cell *matHeaderCellDef> modifier </th>
          <td mat-cell *matCellDef="let element"> <button mat-raised-button (click)="openDialog(element)"> modifier</button></td>
        </ng-container>
        
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    
  </div>