
<div class ="center">
    <form [formGroup]="formee" (submit) ="submit()" >
  
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Nom Client" aria-label="Number" matInput formControlName="idCli" [matAutocomplete]="auto1">
      <mat-autocomplete #auto1="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option.idCli">
          {{option.idCli}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Nom produit" aria-label="Number" matInput formControlName="idp" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of optionss" [value]="option.idp">
          {{option.idp}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Nom User" aria-label="Number" matInput formControlName="idUeser" [matAutocomplete]="auto2">
      <mat-autocomplete #auto2="matAutocomplete">
        <mat-option *ngFor="let option of optionsss" [value]="option.idUser">
          {{option.idUser}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

   
    <mat-form-field class="example-full-width">
      <textarea matInput formControlName="qte" placeholder="Quantite"></textarea>
  </mat-form-field><br>
  <button mat-button color="primary" type="submit">Save</button>
  <button type="button" mat-raised-button color='accent' (click)="reset()">Reset</button>  
  </form>
</div>