
<div class="center">
    <form [formGroup]="formee" (submit) ="submit()" >
        
        <mat-form-field >
            <textarea matInput formControlName="nomCli" placeholder="Nom"></textarea>
        </mat-form-field>
    
        <mat-form-field >
            <textarea matInput formControlName="prenomCli"placeholder="Prenom"></textarea>
        </mat-form-field>
    
        
        <mat-form-field>
            <textarea matInput formControlName="cin" placeholder="cin"></textarea>
        </mat-form-field><br>
    
        <button mat-button color="primary" type="submit">Modifier</button>
        <button mat-button (click)="onNoClick()">No Thanks</button>
   
    </form>
    </div>
