<div class="center">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="datasrc">
    
        <!-- Position Column -->
        <ng-container matColumnDef="idC">
          <th mat-header-cell *matHeaderCellDef> idC </th>
          <td mat-cell *matCellDef="let element"> {{element.idC}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="idCli">
          <th mat-header-cell *matHeaderCellDef> idCli </th>
          <td mat-cell *matCellDef="let element"> {{element.idCli}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="idp">
          <th mat-header-cell *matHeaderCellDef> idp </th>
          <td mat-cell *matCellDef="let element"> {{element.idp}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="idUeser">
          <th mat-header-cell *matHeaderCellDef> idUeser </th>
          <td mat-cell *matCellDef="let element"> {{element.idUeser}} </td>
        </ng-container>

 <!-- Symbol Column -->
        <ng-container matColumnDef="qte">
            <th mat-header-cell *matHeaderCellDef> qte </th>
            <td mat-cell *matCellDef="let element"> {{element.qte}} </td>
          </ng-container>
  
        <ng-container matColumnDef="supprimer">
          <th mat-header-cell *matHeaderCellDef> supprimer </th>
          <td mat-cell *matCellDef="let element"> <button mat-raised-button class="btn btn-danger" (click)="suppelement(element.idC)"> suprimmer</button></td>
        </ng-container>
        <ng-container matColumnDef="modifier">
          <th mat-header-cell *matHeaderCellDef> modifier </th>
          <td mat-cell *matCellDef="let element"> <button mat-raised-button (click)="openDialog(element)"> modifier</button></td>
        </ng-container>
        
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    
  </div>
