<div class="center">
  <h3 class="card-subtitle mb-2 text-muted" >Espace Produit</h3>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="datasrc">
  
      <!-- Position Column -->
      <ng-container matColumnDef="idp">
        <th mat-header-cell *matHeaderCellDef> idp </th>
        <td mat-cell *matCellDef="let element"> {{element.idp}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="nomp">
        <th mat-header-cell *matHeaderCellDef> nomp </th>
        <td mat-cell *matCellDef="let element"> {{element.nomp}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="ref">
        <th mat-header-cell *matHeaderCellDef> ref </th>
        <td mat-cell *matCellDef="let element"> {{element.ref}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="prix">
        <th mat-header-cell *matHeaderCellDef> prix </th>
        <td mat-cell *matCellDef="let element"> {{element.prix}} </td>
      </ng-container>

      <ng-container matColumnDef="supprimer">
        <th mat-header-cell *matHeaderCellDef> supprimer </th>
        <td mat-cell *matCellDef="let element"> <button mat-raised-button class="btn btn-danger" (click)="suppelement(element.idp)"> suprimmer</button></td>
      </ng-container>
      <ng-container matColumnDef="modifier">
        <th mat-header-cell *matHeaderCellDef> modifier </th>
        <td mat-cell *matCellDef="let element"> <button mat-raised-button (click)="openDialog(element)"> modifier</button></td>
      </ng-container>
      <ng-container matColumnDef="imprimer">
        <th mat-header-cell *matHeaderCellDef> imprimer </th>
        <td mat-cell *matCellDef="let element"> <button  mat-raised-button (click)="openDialog(element)"> imprimer</button>  </td>
      </ng-container>
      
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  
</div>