<div class="center">
    <form [formGroup]="formee" (submit) ="submit()" >
        
        <mat-form-field >
            <textarea matInput formControlName="nomp" placeholder="Nom Produit"></textarea>
        </mat-form-field>
    
        <mat-form-field >
            <textarea matInput formControlName="ref"placeholder="Ref Produit"></textarea>
        </mat-form-field>
    
        
        <mat-form-field>
            <textarea matInput formControlName="prix" placeholder="prix"></textarea>
        </mat-form-field><br>
    
        <button mat-button color="primary" type="submit">Modifier</button>
        <button mat-button (click)="onNoClick()">No Thanks</button>
   
    </form>
    </div>
